{% extends '../base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="todo">
            <div class="row justify-content-center">
                <form method="POST" class="loginForm">
                    <h2 style="text-align: center;margin-bottom: 20px;">Informe o email utilizado para cadastro:</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row justify-content-center p-3">
                        <button type="submit" class="login">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}