{% extends '../base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="todo">
            <div class="row justify-content-center">
                <div class="mensagem-email">
                    <p>Enviamos para o seu e-mail as instruções para resetar sua senha</p>
                    <p>Se não recebeu um e-mail, verifique sua caixa de spam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}